# Project information
site_name: Transformers-HuggingFace-with-docs

# define TOC or order of website-
nav:
  - Introduction: index.md
  - Pipeline: 1tranformer-pipeline.md
  - UsingTransformer: 
    - 2UsingTransformers.md
    - Models: 2_2Models.md
    - Tokenizers: 2_3Tokenizers.md
    - HandlingMultipleSequences: 2_4HandlingMultipleSequences.md
    - PuttingAllTogether: 2_5PuttingAllTogether.md

site_author: Pallavi Saxena
site_description: >-
  DESCRIPTION

# Repository
repo_name: pallavi176/Transformers-HuggingFace-with-docs
repo_url: https://github.com/pallavi176/Transformers-HuggingFace-with-docs

# Configuration
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes 
    - toc.integrate
    - navigation.top
    - content.tooltips
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime    
  # logo: PyTorch_logo_icon.svg
  
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.dev/pallavi176
    - icon: fontawesome/brands/twitter
      link: https://github.dev/pallavi176
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/pallavi-saxena-as/
    - icon: fontawesome/brands/instagram
      link: https://github.dev/pallavi176

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js #?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

  
plugins:
  - search

copyright: |
  &copy; 2022 <a href="https://github.dev/pallavi176"  target="_blank" rel="noopener">Pallavi Saxena</a>